body {
  background-color: #0E103D;
  color: #DAE0F2;
  padding: 3%;
}

.image{
  border-radius: 20px;
  float: left;
  margin: 10px;
  padding: 5px;
  background-color: rgb(44, 44, 99); 
}

.image-container {
  height: 250px;
}

.button{
  background-color: #540804;

}

a {
  max-width: 270px;
  min-width: 120px;
  padding: 7px 10px;
  border-radius: 5px;
  background-color: #3564a1;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #c5cce0;
}
a:hover {
  background-color: #5c7aa1;
}

li {
  line-height: 25px;
}

ul {
  list-style-type: circle;

}

.tstestiloUL {
  
  text-align: center;
  width: 250px;
}

.tstestiloUL li:nth-of-type(1) {
  font-size: 25px;
}
.tstestiloUL li:nth-of-type(2) {
  font-size: 20px;
}
.tstestiloUL li:nth-of-type(3) {
  font-size: 10px;
}
.tstestiloUL li:nth-of-type(4) {
  font-size: 27px;
}
.tstestiloUL li:nth-of-type(5) {
  font-size: 17px;
}
.tstestiloUL li:nth-of-type(6) {
  font-size: 15px;
}

.tstestiloUL li:nth-child(odd) {
  background-color: #540804;
}

.meu-nome {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

.descricao {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace;
  position: absolute;
  left: 250px;
  top: 20%;
}

